.venv/
__pycache__/
config.yaml
mlruns/

# Ignorer les données
data/

# Ignorer les modèles
models/

# Ignorer l'environnement local
.env

# On ignore les dossiers utiliser pour Docker
mlflow_db/
mysql_data/
mlflow_data/
